# unconventional js
/blueprints/*/files/
/vendor/

# compiled output
/dist/
/test-app/dist
/test-app/tmp

# dependencies
/bower_components/
/node_modules/
/test-app/node_modules

# misc
/coverage/
!.*
.eslintcache

# ember-try
/.node_modules.ember-try/
/bower.json.ember-try
/package.json.ember-try
