<div class='moment-independence-day'>{{moment-format
    this.usIndependenceDay
    'MMM DD, YYYY'
  }}</div>
<div class='ago-now'>{{moment-from-now this.currentTime}}</div>
<div class='duration-seven-minutes'>{{moment-duration 420000}}</div>