/* Ember supports plain CSS out of the box. More info: https://cli.emberjs.com/release/advanced-use/stylesheets/ */

html, body {
  margin: 20px;
  font-family: Helvetica, sans-serif;
  font-size: 14px;
}

.example {
  padding: 5px;
  margin: 2px 0;
  background: #f1f1f1;
}

code {
  color: #333;
  font-size: 13px;
}
