<div class="moment-independence-day">{{moment-format usIndependenceDay 'MMM DD, YYYY'}}</div>
<div class="ago-now">{{moment-from-now currentTime}}</div>
<div class="duration-seven-minutes">{{moment-duration 420000}}</div>
